*.sh
*~
jsdox
jsdox/*

# do not publish a minified version on the repository until the code
# starts to be useable
*.min.js
*.min.js.gz

# do not include external files
# (which you can download with `make download`)
ext
ext/*
